<h1>Say#goodbye</h1>
<p>it is nice to have you here!</p>
Say <a href="/say/hello">Hello!</a>
<br>
<%= link_to "Hello!", say_hello_path %>
<% for file in @files %>
file name is : <%= file %><br>
<% end %>
