
<div class="container_12">
  <h1>New Blog Article</h1>

  <%= render 'form' %>

  <%= link_to 'Back', posts_path, :class => "blog_link" %>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        blog_fw.app.login.init_post_new();
    });
</script>
